# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular / build
dist/
out-tsc/
tmp/
.angular/

# Cache / tooling
.cache/
.eslintcache
.parcel-cache/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env files (se tiver segredo)
.env
.env.*
